 {{#each tasksList}}
<li class="task {{priority}} {{category}} {{done}}" data-id={{id}}>
  <div class="border">
    <input type="checkbox" class="checkbox-none">
    <label class="icon-trash label-move-to-trash display-none" data-action="checkToRemove" data-tooltip="Select to remove"></label>
  </div>
  {{#if done}}
  <span class="date-day date">{{doneDate.day}}<span class="date-month">{{doneDate.month}}</span></span>
  {{else}} {{#if isActive}}<span class="date">Today</span>{{else}}
  <span class="date-day date {{overdue}}">{{deadline.day}}<span class="date-month">{{deadline.month}}</span></span>{{/if}} {{/if}}
  <div class="task-description">
    <h2>{{heading}} </h2>
    <p>{{taskDescription}}</p>
  </div>
  {{#unless done}} {{#if isActive}}
  <button class="edit-task icon-edit" data-action="edit" data-tooltip="Edit task"></button> {{/if}} {{/unless}} {{#unless isActive}} {{#unless done}}
  <div class="task-controls">
    <button class="edit-task icon-arrows-up" data-action="moveToToDo" data-tooltip="Move to Active"></button>
    <button class="edit-task icon-edit" data-action="edit" data-tooltip="Edit task"></button>
  </div>
  {{/unless}} {{/unless}}
  <div class="go-to-timer"><a class="icon-tomato" href="" data-action="goToTimer" data-tooltip="Go to Timer"><span class="estimation">{{estimation}}</span></a></div>
</li>
{{/each}}