<div class="links-container">
  <a href="" class="global-list-link" data-tooltip="Go to Global List">Global list <span class="icon-global-list-arrow-right" id="arrow" data-tooltip="Go to Global List"></span></a>
  <ul class="tabs display-none" id="priorityFilter">
    <li><a href="#" class="active" id="allFilter">All</a></li>
    <li><a href="" data-priority="urgent">Urgent</a></li>
    <li><a href="" data-priority="high">High</a></li>
    <li><a href="" data-priority="middle">Middle</a></li>
    <li><a href="" data-priority="low">Low</a></li>
  </ul>
</div>

<ul class="tabs left-alignment display-none" id="selectGlobalList">
  <li><a href="" id="selectAllBtn">Select All</a></li>
  <li><a href="" id="deselectAllBtn">Deselect All</a></li>
</ul>

<section class="global-tasks">
    
    <div class="work-group {{#unless workGroup}}display-none{{/unless}}">
      <h2 class="category-heading work">work</h2>
      <ul class="task-list">
        {{{workGroup}}}
      </ul>
    </div>
    
    <div class="education-group {{#unless educationGroup}}display-none{{/unless}}">
      <h2 class="category-heading education">education</h2>
      <ul class="task-list">
        {{{educationGroup}}}
      </ul>
    </div>

    <div class="hobby-group {{#unless hobbyGroup}}display-none{{/unless}}">
      <h2 class="category-heading hobby">hobby</h2>
      <ul class="task-list">
        {{{hobbyGroup}}}
      </ul>
    </div>

    <div class="sport-group {{#unless sportGroup}}display-none{{/unless}}">
      <h2 class="category-heading sport">sport</h2>
      <ul class="task-list">
        {{{sportGroup}}}
      </ul>
    </div>
    
    <div class="other-group {{#unless otherGroup}}display-none{{/unless}}">
      <h2 class="category-heading other">other</h2>
      <ul class="task-list">
        {{{otherGroup}}}
      </ul>
    </div>
  </section>