{{#each this}}
  <li class="task {{priority}} {{category}} {{done}}">
    <div class="border">
      <input type="checkbox" class="{{#unless remove}}checkbox-none{{/unless}}{{#if remove}}checkbox-move-to-trash{{/if}}">
      {{#if remove}}
        <label class="icon-trash"></label>
      {{/if}}
    </div>
    {{#unless remove}}<span>Today</span>{{/unless}}
    <div class="task-description">
      <h2>{{heading}} </h2>
      <p>{{taskDescription}}</p>
    </div>
    {{#unless done}}<button class="edit-task icon-edit"></button>{{/unless}}
    <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">{{estimation}}</span></a></div>
  </li>
{{/each}}